.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222;
    height: 40px;
    padding: 8px 32px 8px 16px;
}

@media screen and (max-width: 600px) {
    .app-header {
        display: flex;
        flex-direction: column;
        background-color: #222;
        height: auto; 
        width: auto; 
        justify-content: space-evenly;
    }
    .search-box-container {
        margin-top: 5%;
        margin-bottom: 8%;
    }
    .logo-container {
        margin-top: 5%;      
    }
}

.search-box-container{
    display: flex;
    flex-direction: row;
}

.logo-container{
    flex-direction: column;
    align-items: center;
}


.tabs{
    margin-bottom: 20px;
}

.dispNone{
    display: none;
}

.dispBlock {
    display: block;
}

.red{
    color: red;
}

.white{
    color: white;   
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}